@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

*{
	padding: 0;
	margin: 0;
	border: 0;
}
*,*:before,*:after{
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

:focus,:active{outline: none;}
a:focus,a:active{outline: none;}

nav,footer,header,aside{display: block;}

html,body{
	height: 100%;
	width: 100%;
	font-size: 100%;
	line-height: 1;
	font-size: 16px;
}

input,button,textarea{font-family:inherit;}
input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner {padding:0;border:0;}
a, a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}

h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: 400;}
/*---------------------*/

.content{
    font-family: Montserrat;
}

.menu{ 
    text-align: center;
    
}

.menu-item{
    display: inline-block; 
    margin: 22px 72px 25px 0px;
    
    
}

.menu-item:last-child{
    margin-right: 0;
    margin-left: 50;
}

.menu-link{
    color: red;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 18px;
    line-height: 18px;
}

.img{
    width: 100%;
    margin-bottom: 48px;
}

.title{ 
    font-size: 22px;
    font-weight: 700;
    line-height: 27px;
    letter-spacing: 3.29px;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 38px;
}

.text{
    max-width: 1145px;
    width: 100%;
    margin: 0 auto;
    line-height: 26px;
    text-align: center;
    letter-spacing: 2.4px;
}

.text p{
    margin-bottom: 28px;
}

.btn{
    display: block;
    width: 191px;
    height: 51px; 
    margin: 0 auto;
    border-radius: 4px;
    background-color: red;
    padding: 18px 0px;
    font-weight: 700;
    font-size: 12px;
    line-height: 12px;
    letter-spacing: 1.8px;
    text-align: center;
    text-transform: uppercase;
    color: aliceblue;
    margin-top: 66px;
}

.btn:hover{
    background-color: fuchsia;
}

.footer{
    margin: 82px 105px 0px 105px;
    text-align: right;
    font-weight: 700;
    line-height: 20px;
    letter-spacing: 2.4px;
}
